* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    user-select: none;
}

.container {
    max-width: 1110px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
    margin-bottom: 78px;
    background: #FAFAFA;
    border-radius: 16px;
    padding: 12px 16px 12px 32px;
}

.header__nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 32px;
}

.nav__menu {
    font-family: 'IR', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #0A0A0A;
}

.btn {
    background: #0A0A0A;
    border-radius: 32px;
    font-family: 'IR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #FAF9F7;
    padding: 15px 32px 16px 32px;
    border-style: none;
}

.header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48px;
    margin-bottom: 42px;
}

.header-prefooter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 136px;
}


.header-prefooter__h {
    font-family: 'RR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 142px;
    line-height: 160px;
    color: #0A0A0A;
    margin-bottom: 57px;

}

.header-prefooter__p {
    font-family: 'IR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0A0A0A;
    margin-bottom: 47px;
    max-width: 453px;
}

.header-prefooter__btn {
    font-family: 'IR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    color: #0A0A0A;
    background: #C6F572;
    border-radius: 40px;
    padding: 15px 64px;
    border-style: none;
}

.header-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 33px;
    background: #0A0A0A;
    border-radius: 0px;
    padding: 119px 0 95px;
}

.header-footer-h {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: #FAF9F7;
}

.header-footer-p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    color: #504F4F;
}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.answers__left-side {
    background: #FFFFFF;
    border-radius: 12px;
}

.answers__right-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: #FAF9F7;
    padding-top: 165px;
    padding-left: 60px;
}

.answers-h {
    font-family: 'RR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    color: #0A0A0A;
    margin-bottom: 90px;

}

.answers-top-p {
    font-family: 'IR', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A0A0A;
    margin-bottom: 46px;
    max-width: 322px;
}

.women-img {
    position: relative;
    z-index: 1;
}

.answers-bottom-p {
    position: absolute;
    z-index: 5;
    max-width: 349px;
    font-family: 'IR', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
}

.pricing {
    background: #FBF19B;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 231px;
    padding-bottom: 254px;
}

.pricing__h {
    font-family: 'RR', sans-serif;
    font-size: 57px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 43px;

    color: #0A0A0A;
}

.pricing__p {
    font-family: 'IR', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A0A0A;
    max-width: 458px;
}

.PayOnlyFor {
    background: #D4F2F9;
    padding-top: 159px;
    padding-bottom: 95px;
}

.payOnly__h {
    font-family: 'RR', sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    color: #0A0A0A;
}

.payOnly__h:nth-last-child(2) {
    margin-bottom: 31px;
}

.payOnly__p {
    font-family: 'IR', sans-serif;
    font-size: 11px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    color: #504F4F;
}

.main {
    background: #0A0A0A;
    padding-top: 191px;
}

.main-head__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 169px;
    position: relative;
}

.main__h {
    font-family: 'RR', sans-serif;
    font-size: 60px;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: 0em;
    text-align: left;
    color: #FAF9F7;
    max-width: 907px;
}

.globus-img {
    position: absolute;
    right: 4%;
    top: 15%;
}

.main__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-left: 50px;
    padding-bottom: 96px;
}

.main__cards-item-left {
    background: #F4D2DC;
    border-radius: 12px;
    padding-top: 150px;
    padding-left: 32px;
    padding-right: 63px;
    padding-bottom: 150px;
    max-width: 308px;
    max-height: 480px;
}

.main__cards-item-left-top__p {
    font-family: 'IR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;
    color: #0A0A0A;
    margin-bottom: 21px;
}

.main__cards-item-left-h {
    font-family: 'RR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    color: #0A0A0A;
    margin-bottom: 30px;
}

.main__cards-item-left-bottom__p {
    font-family: 'IR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #0A0A0A;
}

.main__cards-item-center {
    background: #FBF19B;
    border-radius: 12px;
    padding-top: 150px;
    padding-left: 32px;
    padding-right: 63px;
    padding-bottom: 150px;
    max-width: 308px;
    max-height: 480px;
}

.main__cards-item-center-top__p {
    font-family: 'IR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #0A0A0A;
    margin-bottom: 21px;
}

.main__cards-item-center-h {
    font-family: 'RR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 29px;
    line-height: 32px;
    color: #0A0A0A;
    margin-bottom: 30px;
}

.main__cards-item-center-bottom__p {
    font-family: 'IR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #0A0A0A;
}

.main__cards-item-right {
    background: #DBFAA8;
    border-radius: 12px;
    padding-top: 150px;
    padding-left: 32px;
    padding-right: 63px;
    padding-bottom: 150px;
    max-width: 308px;
    max-height: 480px;
}

.main__cards-item-right-top__p {
    font-family: 'IR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #0A0A0A;
    margin-bottom: 21px;
}

.main__cards-item-right-h {
    font-family: 'RR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    color: #0A0A0A;
    margin-bottom: 30px;
}

.main__cards-item-right-bottom__p {
    font-family: 'IR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #0A0A0A;
}

.form {
    position: relative;
    background: #0A0A0A;
    padding-top: 240px;
    padding-bottom: 96px;
}

.plant-img {
    position: absolute;
    right: 485px;
    
    top: 2px;
    z-index: 2;
}

.form-info {
    background: #FBF19B;
    border-radius: 24px;
    max-width: 840px;
    max-height: 852px;
    margin-left: 156px;
    padding-top: 91px;
    padding-left: 96px;
    padding-bottom: 112px;
    z-index: 4;
    position: relative;
}

.form-info__h {
    font-family: 'RR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 53px;
    color: #0A0A0A;
    margin-bottom: 28px;
}

.form-info__p {
    font-family: 'IR', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #0A0A0A;
    margin-bottom: 96px;
}


.hr {
    background: #0A0A0A;
    height: 2px;
    max-width: 480px;
    margin-bottom: 80px;
}

.hr-last {
    margin-bottom: 53px;
}

.agree {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    margin-bottom: 32px;
}

.square_checkbox {
    border: 2px solid #0A0A0A;
    border-radius: 4px;
}

.form-btn {
    background: #0A0A0A;
    border-radius: 40px;
    width: 178px;
    height: 46px;
    border-style: none;
}

.footer {
    background: #DBFAA8;
    padding: 102px 24px 25px;

}

.footer-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    margin-bottom: 13px;
}

.footer-hr {
    background: #0A0A0A;
    height: 2px;
    margin-bottom: 9px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__wrap-left {
    font-family: 'IR', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A0A0A;
}

.footer__wrap-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.footer-a {
    font-family: 'IR', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #0A0A0A;
}